*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Lato,serif;
}
body{
    background:#EEEEEE; 
}
header#header{
    /* height: 20px; */
}
#header{
display: flex;
align-content: center;
justify-content: center;
margin: auto;
 /* padding:0 2.5em 0 2.5em; */
/* border-bottom: 40px solid black; */
}
#nav-bar{
    position: fixed;
    background: #EEEEEE;
    z-index: 999;
}
#nav-bar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    width:100vw;
    /* height: 9.1vh; */
    padding:0 2.5em;
    
    
}
li#header-img{
    width:55vw; 
    /* width: 100%; */
    margin: auto;
/* padding-left:80px; */
/* padding:0 40px; */
}

li#nav-link{
    display: flex;
    flex-direction: column;
    width: 16.31vw;
    text-align: center;
    margin: auto;
    align-items:initial;
    
    
}
img{
    width: 300px;
    
}
#nav-link a{
    text-decoration:none;
    color: #000000;
    font-size: 1em;
}
@media (max-width: 745px) {
    #nav-bar ul {
    flex-direction: column;
    /* height: 18vh; */
    }
    #header{
        padding:0;
        min-width: 335px;
    }
    section{
        margin-top:9vh;
    }
/* header#header{
    height: 22vh;
} */
    li#header-img{
        width: auto;
        padding-left:0;
    }
    img{
        align-items: stretch;
    }
    li#nav-link{
        width: auto;
        align-items: stretch;
        font-size: 1em;
    }
   #main-top {
    padding-top:0vh;
}
   
}
section{
    padding-top:10vh;
}
#main-top{
display: flex;
justify-content: center;
align-items: stretch;
text-align: center;
margin:0 auto;
width: 470px;
flex-direction: column;
}
#main-top h1{
    margin:25px;
    font-size: 1.5em;
}
#email{
    width: 273px;
    height: 28px;
    padding:10px;
    font-size:1em;
}
#submit{
    width: 148px;
    height: 30px;
    background: #D2AE38;
    font-size: 1.2em;
    font-weight: 1000;
    text-transform: capitalize;

}
#main-middle{
    width:1000px;
    /* height: 360px; */
    display: flex;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    margin: 0 auto;
    flex-direction: column;
    /* padding-top:50px; */

}
.center{
    display: flex;
}
.main-middle-content{
    display: flex;
    
    /* width: 1000px */
}
.main-middle-content-text{
flex:1;
text-align: left;
margin:auto 0;
}
.main-middle-content-text h1{
    font-size: 1.5em;
}
.main-middle-content-text p{
    font-size:1em;
}
.main-middle-content-image{
    width: 15vw;
    height: 125px;
}
.main-middle-content-image{
display: flex;
justify-content: center;
align-items: center;
}
#icon{
    font-size: 3.3em;
}
@media (max-width: 1000px) {
    .main-middle-content-text {
        flex:1.1
    }
img{
    /* width:250px; */
    width:18.75em;
}
    #main-middle{
    width: auto;
    margin:0vh 3vw;
    }
    .main-middle-content-image{
        /* width: auto; */
        height: auto;
    }
    #main-top{
        width: auto;
        min-width: 350px;
        
    }
}
@media (max-width: 550px) {
     .main-middle-content-image{
         display: none;
     }
     .main-middle-content-text{
         text-align: center;
     }
     
   /* #nav-bar{
       width: auto;
       min-width: 350px;
       padding:0;
       margin: 0; */
   }
   #main-middle{
       width: auto;
       min-width: 350px;
   }
      ul{
          width: auto;
          /* height: 25vh; */
          min-width: 350px;
         /* padding-left: 15px; */
      }  
      #main-top h1{
          /* font-size: 1.1em; */
      }
     section{
         padding:0;
     }
    }
}
@media (max-width: 280px) {
  
}

/* .main-middle-content{
    display: flex;
    margin: 10px;
}
.main-middle-content-text{
    flex:1;
    margin: 0 auto;
}
.main-middle-content-text h1, .main-middle-content-text p {
text-align: left;
}
.main-middle-content-image{
display: flex;
justify-content: center;
align-items: center;
margin:0 auto;
width: 125px;
}
#icon{
    font-size: 3.3em;
    
} */














































/* #header-imag{
    display: flex;
  align-items: flex-start;
  justify-content: center;
}
img{
    width:300px;
   
    margin:auto;
    display: flex;
    align-self: center;
}
nav ul{
    height: 70px;
    height: 9.3vh;
    width: 100vw;
    display: flex;
    list-style: none;
    align-items:center;
    justify-content: center;
    flex-direction: row;
}
nav ul li#header-img{
    width: 60vw;
}

nav ul li#nav-link {
   
   
    margin:auto;
    display:inline;
    
   
    color: #000000;
    font-size: 1em;
}
nav ul li a{
    margin:auto;
    display: inline-block;
    text-decoration: none;
    color: #000000;
     width: 20vw;
     text-align: center;
     padding:auto 0;
}
nav ul li a{
   

}
@media (max-width: 645px) {
    nav ul {
        flex-direction: column;
        height:16vh;
    }
    nav ul li#nav-link, a{
       width:30vw;
       height: 5vh;
       display: inline;

    }
nav ul li a{
    width: 20vh;
}
    img{
        height: auto;
        width:300px;
        margin:auto;
        padding-bottom: 10px;
        display:inline-block;
        align-content: center;

    }
} */